/* Définition d'une variable */
$primary-color: rgb(221, 32, 32);
body {
  /* Utilisation de la variable */
  color: $primary-color;
}
/* navigation principale en utilisant l'imbrication */
#main-nav {
  background-color: grey;
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 5px;
      }
    }
  }
}

/* Mixin */
@mixin button($bgcolor, $color, $hover_color: blue) {
  padding: 8px;
  border-radius: 8px;
  background-color: $bgcolor;
  color: $color;
  display: inline-block;
  margin: 5px;
  &:hover {
    cursor: pointer;
    background-color: $hover_color;
  }
}
/* Appel de la mixin */
.btn {
  @include button($color: white,$bgcolor: grey);
}