* {
  box-sizing: border-box;
}
 /* 
figure {
  max-width: 15%;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  
}

#jb {
  /* 100% max de son conteneur
  max-width: 100%;
}

.clear-fix {
  clear: left;
}

.col {
  float: left;
  width: 25%;

}

.col>div {
  padding: 20px;
}

span {
  padding: 30px;
  margin: 30px;
} */
p {
  padding: 30px;
  border: 10px solid red;
  line-height: 1.5em;
}

img {
  max-width: 50%;
}

ul {
  list-style: none;
}
/* Condition : sil l'écran est <= à 768px */
@media screen and (max-width: 768px) {
  img {
    max-width: 100%;
  }
}
/* Condition : si l l'écran est >= à 768px et <= 980px */
@media screen and (max-width: 980px) and (min-width:769px) {
  img {
    max-width: 75%;
  }
}

